h1{
    color:rgb(0, 0, 0);
    padding: 50px;
    font-size: 40px;
    padding-top: 20px;
    padding-bottom: 50px;
}

h2 {
    text-align:center ;
    font-size: 40px;
   } 

.E{
    text-align: center;
    font-size: 25PX;
    background-color: rgb(255, 255, 255);
    color: black;
}
.ty{
    color: rgb(0, 6, 53);
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 30px;
    text-decoration: underline;
}
/*تنسقات الزر*/
.BUTN{
    color: rgb(255, 255, 255);
    background-color: rgb(10, 0, 46);
    font-size: 20PX;
}

.menu{
    background-color: rgb(10, 0, 46);
    overflow: auto;
    text-align: center;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 40px;
    background-size: 100%;
    background-image: url(images/IM2.jpg);
    background-repeat: no-repeat;
    height:160PX;
    box-sizing:content-box;
}  

.menu ul {
    text-align: center;
    text-decoration: none;
    padding-top: 20px;
    padding-bottom: 20px;
}
.menu li{
    display:inline-block;
    text-align: center;
}

.menu a{
    display: inline-block;
    text-align: center;
    color: rgb(255, 255, 255);
    width: 100px;
    background-color:rgb(49, 148, 206);
    padding: 15px;
    margin: 5px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 40px;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.menu li a:hover{
    background-color:rgb(2, 11, 41) ;
}


.list ul{
    text-align: center;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;

   
}
.list li{
    display:inline-block;
    text-align: center;
 
}
.list a{
    display:inline-block;
    text-align: center;
    color: rgb(255, 255, 255);
    width: 100px;
    background-color:rgb(49, 148, 206);
    padding: 15px;
    margin: 20px;
    font-size: 17px;
    font-weight: bold;
    border-radius: 40px;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   

}

p{
    background-color:rgb(2, 11, 41);
    color: rgb(250, 253, 255);
    padding: 50px;
    font-size: 20px;
    text-align: center;
    border-radius: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.footer ul {
    overflow :auto;
    padding-top: 5px;
    padding-bottom:5px;
    text-align:center ;
    background-image: url(images/IM3.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 20px;
    background-color: rgb(65, 154, 231);
    
} 

.footer li{
    display: inline-block;
    padding: 30px;
}

.footer a { 
    background-color: rgb(0, 7, 49);
    padding: 15px;
    margin: 8px;
    border-radius: 40px;
    text-decoration: none;
    font-size: 17px;
    color: rgb(255, 255, 255);
    width: 100px;
    display: inline-block;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-color: black;
}
.footer li a:hover {
    background-color: rgb(65, 154, 231);
}

.X{
    background-color:rgb(2, 11, 41);
    color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 20px;
}

.photos{
    display: block;
    overflow: auto;
    padding-top: 20px;
    background-color: rgb(140, 206, 250);
    text-align:center ;
}

a{
    display:inline-block;
    text-align: center;
    color: rgb(255, 255, 255);
    width: 100px;
    background-color:rgb(49, 148, 206);
    padding: 15px;
    margin: 20px;
    font-size: 17px;
    font-weight: bold;
    border-radius: 40px;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/*إستعلام الوسائط*/
@media screen and (max-width:800px) {
    img {
        width: 70%;
        margin: auto;
    }
}
@media screen and (max-width:620px){
    .menu , .footer ul{
       background-image: none;
    }
}
